/*
 * shiki.scss
 * (c) spring_raining
 * CC BY 4.0
 */
html, body, #container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-size: 14px;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: {BackgroundColor};*/
  /*font-family: {TitleFont}, "Helvetica Neue", HelveticaNeue, Arial, sans-serif;*/
}

a {
  /*color: {AccentColor};*/
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  margin: 1em 0;
  padding: 1em;
  border-left: rgba(33, 33, 33, 0.25) solid 4px;
}

@media screen and (max-width: 480px) {
  blockquote {
    padding: 12px 0 12px 12px;
  }
}

ul {
  margin-before: 14px;
  margin-after: 14px;
}

#main {
  display: inline-block;
  width: 100%;
}

h1.blog-title {
  /*font-family: {TitleFont}, "Helvetica Neue", HelveticaNeue, Arial, sans-serif;*/
  /*font-weight: {TitleFontWeight};*/
  /*color: {TitleColor};*/
  font: bold 40px;
  margin-bottom: 15px;
}

.blog-description {
  margin-top: 0;
}

.button {
  display: inline-block;
  padding: 8px;
  min-width: 36px;
  height: 36px;
  border-radius: 30px;
  text-align: center;
  line-height: 36px;
  font-size: 22px;
  color: #ffffff;
  /*background-color: {AccentColor};*/
}

.button:hover {
  text-decoration: none;
}

.copyright {
  font-size: 12px;
}

.entry-container {
  padding: 0;
  margin: 0;
}

.entry-block {
  padding: 12px 0;
}

.entry-text {
  position: relative;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .entry-text {
    width: auto;
    margin: 0 12px;
  }
}

.caption {
  min-height: 36px;
}

.caption p {
  margin: 0;
  padding: 0.7em 0.5em;
}

.lead {
  line-height: 2em;
}

.like-and-reblog-buttons {
  position: relative;
  text-align: right;
}

.like-and-reblog-buttons li {
  display: inline-block;
  padding: 8px;
  margin: 0 0 0 12px;
  width: 36px;
  height: 36px;
  border-radius: 30px;
}

.like-and-reblog-buttons li > * {
  text-align: left;
  position: relative;
  top: 8px;
  left: 8px;
}

.like-and-reblog-buttons a.reblog_button {
  overflow: visible;
}

.meta-footer {
  font-size: 85%;
  margin-bottom: 12px;
}

.nav {
  margin: 0;
  height: 100%;
}

.nav ul {
  margin: 0;
  padding: 0 7vw;
  height: 100%;
}

.nav li {
  display: inline-block;
  height: 100%;
}

.nav li a {
  line-height: 62px;
  padding: 24px 12px;
  height: 100%;
}

.nav li.shiki-logo {
  height: 18px;
  margin-top: 0px;
}

.permalink-spacer {
  vertical-align: middle;
  display: table-cell;
  height: 650px;
  width: 100vw;
}

@media screen and (max-height: 1000px) {
  .permalink-spacer {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .permalink-spacer {
    height: 300px;
  }
}

body.desktop .nav li.mobile {
  display: none;
}

body.mobile .nav li.desktop {
  display: none;
}

@media screen and (max-width: 720px) {
  .nav ul {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  body.mobile .nav li.shiki-logo {
    display: none;
  }
}

body.mobile .nav li {
  width: 100%;
}

body.mobile .nav li a {
  line-height: 48px;
}

body.mobile .nav li.shiki-logo {
  display: none;
}

ul.social-buttons {
  padding: 0;
}

.note-info {
  vertical-align: middle;
}

.note-info img.avatar,
.notes-container img.avatar {
  margin-right: 4px;
  margin-bottom: -1px;
  height: 12px;
  border-radius: 12px;
}

.note-info span {
  margin-right: 16px;
}

.note-info svg {
  height: 1em;
  margin-right: 4px;
  margin-bottom: -2px;
  /*fill: {AccentColor};*/
}

ol.notes {
  margin: 0;
  padding: 0 40px;
}

@media screen and (max-width: 480px) {
  ol.notes {
    padding: 0;
  }
}

ol.notes li.note {
  margin: 1.2em 0;
}

.reblog-button {
  /*background-color: {AccentColor};*/
}

.like-button {
  /*background-color: {AccentColor};*/
}

.pull-right {
  float: right;
}

.social-buttons li {
  display: inline-block;
}

header {
  position: relative;
}

.header-container {
  width: 100%;
  height: 100%;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header .navbar {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 0;
  padding: 0;
  transform: translate3d(62px, 0, 0);
  transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: transform, background-color, opacity;
  display: block;
}

header .navbar .nav {
  opacity: 0;
  display: none;
}

header .navbar.show {
  width: 100vw;
  transform: translate3d(0, 0, 0);
}

header .navbar.hover {
  background-color: rgba(33, 33, 33, 0.7);
}

header .navbar.show .nav {
  opacity: 1;
  display: block;
}

header .navbar .nav-handle {
  position: absolute;
  top: 0;
  left: -62px;
  width: 62px;
  height: 62px;
  transition: background-color 0s;
}

header .navbar.hover .nav-handle {
  background-color: rgba(33, 33, 33, 0.7);
  transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

body.mobile header .navbar {
  transform: translate3d(0, 62px, 0);
}

body.mobile header .navbar.show {
  transform: translate3d(0, 62px, 0);
}

body.mobile header .navbar .nav-handle {
  top: -62px;
  left: 0;
}

.nav-handle span {
  display: block;
  margin: 24px;
  width: 14px;
  height: 14px;
  /*background-color: {AccentColor};*/
  opacity: 0.8;
  border-radius: 15px;
}

header .title-block {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
}

body.page-index article.post * {
  overflow-x: hidden;
}

article.photo .entry-container {
  position: relative;
  padding: 0;
}

article.photo .permalink-photo-container {
  margin: 0 auto;
  padding: 0 10px;
}

article.photo .permalink-photo-container img {
  border-radius: 6px;
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  article.photo .permalink-photo-container {
    padding: 0;
  }

  article.photo .permalink-photo-container img {
    border-radius: 0;
  }
}

article.photo .photoset-iframe-container {
  max-width: 700px;
  min-height: 300px;
  margin: 0 auto;
}

/* はてブChrome拡張用 */
article.photo a.photo-container-link + .hBookmark-widget-counter {
  margin: 0;
  padding: 0;
}

body.page-index {
  body.desktop article.photo .photo-container {
    width: 10000px;
    height: 10000px;
  }

  body.mobile article.photo .photo-container {
    width: 100%;
    height: 0;
  }

  article.photo .photo-block {
    position: relative;
    overflow: hidden;
    width: 100vw;
    background-repeat: no-repeat;
  }

  body.desktop article.photo .hover-area {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100%;
  }

  body.desktop article.photo .entry-block {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    color: #ddd;
    font-size: 13px;
    background-color: rgba(33, 33, 33, 0.2);
    opacity: 0.95;
    transform: translate3d(50vw, 0, 0);
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }

  body.desktop article.photo .entry-block::before {
    content: " ";
    display: block;
    height: 48px;
  }

  body.desktop article.photo .entry-block::after {
    content: " ";
    display: block;
    height: 36px;
  }

  body.desktop article.photo .hover-area.hover .entry-block {
    transform: translate3d(0, 0, 0);
    background-color: rgba(33, 33, 33, 0.7);
  }

  body.mobile .desktop-only {
    display: none;
  }

  body.desktop .mobile-only {
    display: none;
  }

  body.mobile .nav li a {
    line-height: 48px;
    padding-right: 480px;
  }

  .entry-container {
    padding: 40px 0;
    margin: 100px 0;
  }

  @media screen and (max-width: 480px) {
    .entry-container {
      margin: 60px 0;
    }
  }

  article.photo .entry-container {
    margin: 0;
    padding: 0;
}
}

article.quote blockquote {
  overflow-y: hidden;
}

article.quote .short blockquote {
  font-size: 2.2em;
  line-height: 2em;
}

article.quote .medium blockquote {
  font-size: 2.2em;
  line-height: 1.6em;
}

article.quote .long blockquote {
  font-size: 1.2em;
  line-height: 1.8em;
}

@media screen and (max-width: 480px) {
  article.quote .short blockquote {
    font-size: 1.7em;
    line-height: 2em;
  }

  article.quote .medium blockquote {
    font-size: 1.4em;
    line-height: 2em;
  }

  article.quote .long blockquote {
    font-size: 1.1em;
    line-height: 1.9em;
  }
}

article.quote blockquote:before {
  content: '“';
  color: rgba(33, 33, 33, 0.35);
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
}

article.link .entry-header {
  margin-top: 20px;
}

article.link a.link-url {
  display: block;
  width: auto;
  padding: 2.5em;
  color: #fff;
  /*background-color: {AccentColor};*/
  text-align: center;
  border-radius: 30px;
}

article.link a.link-url:hover {
  text-decoration: none;
  /*background-color: {AccentColor};*/
}

article.link .link-title {
  margin: 0;
}

article.link .link-subtitle {
  opacity: 0.5;
  font-size: smaller;
}

article.chat ul {
  padding: 0;
}

article.chat li {
  list-style: none;
  margin: 10px 0;
}

article.chat .label {
  font-weight: 700;
  margin-right: 1em;
}

article.video .entry-container {
  position: relative;
  padding: 0;
}

article.video .video-iframe {
  position: relative;
  width: 100%;
  padding: 0;
}

article.video .video-iframe > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article.video .entry-block {
  body.page-index & {
    position: absolute;
  }
  top: 0;
  left: 0;
  width: 100%;
}

article.audio .entry-container {
  position: relative;
  padding: 0;
}

article.audio .video-iframe {
  position: relative;
  width: 100%;
  padding: 0;
}

article.audio .video-iframe > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article.audio .entry-block {
  body.page-index & {
    position: absolute;
  }
  top: 0;
  left: 0;
  width: 100%;
}

article.answer .question {
  min-height: 3em;
}

article.answer .question:before {
  content: 'Q';
  color: rgba(33, 33, 33, 0.35);
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
}

article.answer .asker-group {
  text-align: right;
}

article.answer .answer:before {
  content: 'A';
  color: rgba(33, 33, 33, 0.35);
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
}

.pagenation-permalink {
  margin: 30px 0 80px;
  text-align: center;
}

.pagenation-permalink > * {
  margin: 0 0 0 12px;
}

body.desktop .permalink-controller {
  position: fixed;
  right: 7vw;
  bottom: 0;
  z-index: 100;
  opacity: 0.2;
  transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: opacity;
}

body.mobile .permalink-controller {
  margin: 36px 0 48px 0;
}

body.desktop .permalink-controller:hover {
  opacity: 1;
}

.permalink-controller > * {
  margin: 0 0 16px 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 480px) {
  body.desktop .permalink-controller {
    right: 0;
  }

  .button {
    min-width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .like-and-reblog-buttons li {
    padding: 5px;
  }
}

.notes-container {
  margin: 50px 0;
}

.notes-container * {
  list-style-type: none;
}

@media screen and (max-width: 480px) {
  .notes-container {
    margin: 0;
  }
}